:root {
    --blue-bg: #1992D4;
    --lighter-blue: #E2E8F0;
    --yellow: #F0B429;
    --gray: #666;
}

body {
    margin: 0;
    padding: 0;
}

.img-sm {
    width: 40px;
}

.img-lg {
    width: 60px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.sidebar {
    background-color: var(--blue-bg);
    color: #fff;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    align-content: start;
    padding: 1rem;
    font-weight: bold;
}

.mdi {
    font-size: 1.5em;
}

.logo {
    font-size: 24px;
}

.sidebar ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.sidebar li {
    margin: 16px 0;
}

.sidebar .mdi {
    margin-right: 30px;
}

.header {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
    padding: 1rem 4rem;
}

.search {
    display: grid;
    grid-template-columns: min-content auto;
    align-items: center;
}

.search .mdi {
    font-size: 1.5rem;
    margin-right: 20px;
}

.search input {
    border: none;
    background-color: var(--lighter-blue);
    width: 80%;
    padding: 0.5rem;
    border-radius: 1rem;
    outline: none;
    font-size: 1rem;
}

.notification {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    align-self: end;
    gap: 2rem;
    font-weight: bold;
}

.notification .mdi {
    justify-self: end;
}

.notification span:last-of-type {
    justify-self: center;
}

.user-info {
    display: grid;
    grid-template-columns: min-content 1fr;
}

/* .user-info img {
    width: 60px;
    margin-right: 1rem;
    align-content: center;
    justify-content: center;
} */

.greeting {
    font-size: 12px;
}

.user-name {
    font-size: 20px;
    font-weight: bold;
}

.header-btns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

button {
    background-color: var(--blue-bg);
    color: #fff;
    font-size: 100%;
    font-family: inherit;
    font-weight: bold;
    padding: 1rem 2.5rem;
    border-radius: 1.5rem;
    border: none;
    justify-self: center;
    align-self: center;
}

.content {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: var(--lighter-blue);
    padding: 2rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
}

.projects > h2,
.announcements > h2,
.trending > h2 {
    margin-bottom: 1rem;
    font-size: 1rem;
}

.projects {
    grid-row: 1 / 3;
}

.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.card {
    background-color: #fff;
    border-radius: 5px;
    padding: 2rem;
    line-height: 1.3;
    box-shadow: 1px 1px 5px gray;
    border-left: 5px solid var(--yellow);
}

.card h2 {
    margin-bottom: 0;
    font-size: 1rem;
}

.card p {
    margin-top: 0;
    color: var(--gray);
}

.card-icons {
    display: grid;
    grid-template-columns: repeat(3, 50px);
    justify-content: end;
}

.announcements {
    grid-column: 2;
    grid-row: 1;
}

.ann-content,
.trending-content {
    background-color: #fff;
    border-radius: 5px;
    padding: 2rem;
    box-shadow: 1px 1px 5px gray;
}

.ann-item {
    border-bottom: 3px solid var(--lighter-blue);
    padding: 1rem 0;
}

.ann-item h3,
.ann-item p {
    margin: 0;
    line-height: 1.3;
    font-size: 0.8rem;
}

.ann-item p {
    color: var(--gray);
}

.trending {
    grid-column: 2;
    grid-row: 2;
}

.trending-content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

.trending-item {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.trending-item p {
    margin: 0;
    color: var(--gray);
}